* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

ul,
ol,
li {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}